*{
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
  }  
body{
    width: 100%;
    background: url(./images/bg.png) no-repeat center;
    background-size: cover;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 1.3rem;
    color: #FFFFFF;
}
.container{
    padding: 0 106px;
}
header{
    width: 100%;
    height: 106px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 250px 0 125px;
    background-color: #318fff2e;
}
.menu ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 60px;
}
.menu ul li a{
    margin-left: 15px;
    text-decoration: none;
    color: #FFFFFF;
}
.container-start{
    background: url(./images/Group\ 72.png) no-repeat center;
    background-size: cover;
}
.start-sect{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.start-sect > img{
    width: 50%;
    align-self: flex-end;
}
.start-sect .text{
    width: 40%;
}
.start-sect .text h2{
    font-size: 5rem;
    font-weight: 800;
    margin-bottom: 30px;
    line-height: 1.2;
}
.start-sect .text h4{
    font-weight: 600;
    text-transform: uppercase;
    color: #4A9DFF;
    letter-spacing: 16px;
    margin-bottom: 45px;
}
.start-sect .text .row{
    display: flex;
    column-gap: 35px;
    align-items: center;
}
.start-sect .text .row a{
    width: 290px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 15px;
    border-radius: 19px;
    background-color: #318FFF;
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 600;
}
.online{
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    font-size: 1rem;
}
.online h5{
    color: #989898; 
}
.online h6{
    display: flex;
    align-items: center;
    column-gap: 5px;
}
.launcher{
    width: 100%;
    background: url(./images/bg-launcher.png) no-repeat;
    background-size: cover;
    padding: 45px 106px 0 220px;
    display: flex;
    justify-content: space-between;
}
.launcher > img{
    height: 93%;
    align-self: flex-end;
}
.launcher .text{
    width: 35%;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: end;
    row-gap: 40px;
}
.launcher .text h2{
    font-size: 3rem;
    font-weight: 700;
    text-align: right;
    line-height: 1.2;
}
.launcher .text h2 span{
    color: #318FFF;
    font-weight: normal;
}
.launcher .text p{
    font-size: 1.3rem;
    text-align: right;
    line-height: 1.2;
}
.download-launcher-btn{
    width: 80%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    background-color: #318FFF;
    border-radius: 22px;
    color: #FFFFFF;
    text-decoration: none;
    position: relative;
    overflow: hidden;
}
.launcher .text a img{
    height: 1rem;
}
.launcher .text h6{
    color: #A09F9F;
    font-size: 0.625rem;
    align-self: center;
}
.download-launcher-btn::before{
    content: '';
    position: absolute;
    width: 2rem;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff44;
    transform: translateX(-4rem) skewX(-45deg); 
    animation: move-light 2.5s linear infinite;
}
@keyframes move-light {
    0% {
        transform: translateX(-4rem) skewX(-45deg);
    }
    20% {
        transform: translateX(25rem) skewX(-45deg);
    }
    100%{
        transform: translateX(25rem) skewX(-45deg);
    }

}
.servers{
    padding: 100px 0;
}
.servers > h2{
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
    margin-bottom: 150px;
}
/* Розкоментуйте для нових серверів V*/
.servers-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 6rem;
}
/* A це закоментуйте V */
/* .servers-list{
    width: 100%;
    display: flex;
    justify-content: center;
} */
/*  */
.server{
    width: 21%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #041636;
    border-radius: 24px;
    position: relative;
    padding-bottom: 1.3rem;
    transform: scale(1);
    transition: all ease 0.3s;
}
.server:hover{
    transform: scale(1.1);
}
.server > .square{
    width: 33%;
    position: absolute;
    top: -10%;
}
.server h2{
    margin-top: 33%;
    font-size: 1.5rem;
    font-weight: 600;
    margin-bottom: 1.8rem;
}
.server h6{
    font-weight: 600;
    color: #505E6C;
    margin-bottom: 1rem;
}
.server h5{
    margin-bottom: 1rem;
}
.news h2{
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 1rem;
}
.news h4{
    font-size: 1.5rem;
    color: #318FFF;
    letter-spacing: 10px;
    margin-bottom: 5rem;
}
.news-list{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 2rem;
}
.new{
    width: 29%;
    border-radius: 29px;
    background-color: #041636;
    padding-bottom: 2rem;
    transform: translateY(0);
    transition: all ease 0.3s;
}
.new:hover{
    transform: translateY(-25px);
}
.new > img{
    width: 100%;
}
.new > .text{
   margin: 2rem 3rem 0 3rem;
}
.new > .text h3{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
}
.new > .text p, .new > .text h5{
    color: #32466A;
    line-height: 1.7rem;
}
.new > .text .row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
}
.new > .text .row a{
    color: #318FFF;
    font-weight: 600;
    text-decoration: none;
}
.new > .text p, .new > .text h5 img{
    margin-right: 5px;
}
.social{
    margin-top: 8rem;
    width: 100%;
    background: url(./images/social-bg.png) no-repeat center;
    background-size: cover;
    padding: 6rem 4rem 10rem 4rem;
    border-radius: 30px;
    margin-bottom: 10rem;
}
.social h2{
    font-size: 6rem;
    color: #318FFF;
    font-weight: 800;
    text-align: center;
    margin-bottom: 2rem;
    padding-top: 3rem;
}
.social h3{
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 3rem;
}
.social-list{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 2rem;
    column-gap: 2rem;
}
.social-bl{
    background-color: #318fff2e;
    border-radius: 31px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17rem;
    height: 16rem;
}
.social-bl svg path, .social-bl{
    transition: all ease 0.3s;
}
.social-bl:hover{
    background-color: #318FFF;
}
.social-bl:hover svg path{
    fill: #FFFFFF;
}
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    background-color: #03122E;
    padding: 0 106px;
}
footer .bl{
    display: flex;
    column-gap: 1.1rem;
    align-items: center;
}
footer p{
    color: #32466A;
    line-height: 2rem;
}
footer .fop{
    font-size: 1.2rem;
    text-align: center;
}
footer .left{
    text-align: right;
}
 /*  */
  
 .mob-header{
    padding: 15px 25px;
    display: none;
    justify-content: space-between;
    align-items: center;
    background-color: #318fff2e;
}
.mob-header > img{
    height: 2.5rem;
}
/*  */
.hamburger-menu{
    display: none;
    width: 50px;
    height: 50px;
    position: relative;
    z-index: 999;
}
.hamburger-menu span, .hamburger-menu span::before, .hamburger-menu span::after{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -1.5px;
    margin-left: -15px;
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    border-radius: 2px;
}
.hamburger-menu span::before, .hamburger-menu span::after{
    content: '';
    display: block;
    transition: 0.3s;
}
.hamburger-menu span::before{
    transform: translateY(-9px);
}
.hamburger-menu span::after{
    transform: translateY(9px);
}
.hamburger-active span{
    height: 0;
}
.hamburger-active span::before{
    transform: rotate(45deg);
}
.hamburger-active span::after{
    transform: rotate(-45deg);
}
/*  */
.menu-mob{
    right: 0;
    top: 0;
    position: absolute;
    z-index: 999;
    width: 100%;
    background-color: #318FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 30px;
    padding: 30px 0;
    transition: 0.4s;
    transform: translateY(-100%);
}
.menu-mob-active{
    transform: translateY(0);
}
.menu-mob li{
    list-style: none;
}
.menu-mob li a{
    margin-left: 15px;
    text-decoration: none;
    color: #FFFFFF;
}
/*  */
@media (max-width: 1450px) {
    header, footer{
        padding: 0 60px;
        height: 100px;
    }
    .container{
        padding: 0 60px;
    }
    .start-sect .text{
        width: 45%;
    }
    .start-sect .text h2{
        font-size: 3rem;
    }
    .start-sect .text h4{
        letter-spacing: 5px;
    }
    .launcher{
        padding: 50px 50px 0 50px;
        justify-content: space-between;
    }
    .launcher > img, .launcher .text{
        width: 45%;
    }
    .launcher .text h2{
        font-size: 2rem;
        width: 80%;
    }
    .launcher .text p{
        font-size: 1rem;
        width: 80%;
    }
    .launcher .text a {
        width: 70%;
        height: 5rem;
    }
    .launcher .text h6{
        align-self: flex-end;
    }
    .servers > h2{
        margin-bottom: 4rem;
    }
    .server h2{
    font-size: 1.2rem;
    margin-bottom: 1.3rem;
    }
    .server h5{
        font-size: 1rem;
    }
    .new{
        width: 45%;
        padding-bottom: 0;
    }
    .new > .text{
        margin: 1rem;
    }
    .social{
        margin-top: 0;
        margin-bottom: 0;
        padding: 6rem 2rem 6rem 2rem;
    }
    .social-bl{
        width: 10rem;
        height: 10rem;
    }
    footer > .bl > img{
        height: 4rem;
    }
    footer p, footer .left{
        font-size: 1rem;
    }
  }
@media (max-width: 820px){
    body{
        font-size: 1rem;
    }
    .container {
        padding: 0 25px;
      }
      header{
        padding: 0 25px;
        height: 80px;
    }
    .start-sect .text h2, .servers > h2, .news h2,.social h2{
        font-size: 2rem;
    }
    .social h2{
        margin-bottom: 1rem;
        font-size: 3rem;
    }
    .start-sect .text h4, .start-sect .text h2, .news h4{
        margin-bottom: 1.5rem;
    }
    .launcher .text{
        row-gap: 1.5rem;
    }
    footer{
        height: 100px;
        padding: 0 25px;
    }
    footer p, footer .left{
        line-height: 1.1;
        font-size: 0.8rem;
    }
    .logo > img, footer > .bl > img{
        height: 3rem;
    }
    .start-sect .text .row a{
        height: 65px;
        padding: 15px;
    }
    .launcher{
        padding: 25px 25px 0 25px;
        justify-content: space-between;
    }
    .launcher .text{
        width: 50%;
        padding-bottom: 25px;
    }
    .launcher .text h2, .launcher .text p{
        width: 100%;
    }
    .launcher .text a{
        height: 4rem;
    }
    .servers{
        padding: 50px 0;
    }
    .server{
        width: 47%;
    }
    .news-list{
        justify-content: center;
    }
    .new{
        width: 80%;
    }
    .social-bl{
        width: 7rem;
        height: 7rem;
    }
    .social-bl svg{
        width: 4rem;
        height: 4rem;
    }
  }
  @media (max-width: 520px){
    header{
        display: none;
    }
    .mob-header{
        display: flex;
    }
    .hamburger-menu{
        display: block;
    }
    .start-sect{
        flex-direction: column;
        padding-top: 50px;
    }
    .launcher{
        flex-direction: column-reverse;
        background: url(./images/bg-launcher-phone.png) no-repeat;
        background-size: cover;
    }
    .start-sect .text, .start-sect > img, .launcher .text{
        width: 100%;
    }
    .launcher > img{
        width: 100%;
        align-self: center;
    }
    .server{
        width: 47%;
    }
    .servers-list{
        row-gap: 3rem;
    }
    .new{
        width: 100%;
    }
    footer{
        flex-direction: column;
        height: auto;
        padding: 15px 25px;
        row-gap: 15px;
    }
    footer .bl{
        width: 100%;
        justify-content: center;
    }
    footer .bl > img{
        height: 2rem;
    }
    footer p{
        text-align: center;
    }
    .footer-info{
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
  }
 